<% if navbar.include? (:profile) %>
	<li>
		<div class="divider" style="background: #ab47c4;"></div>
	</li>

	<li class="nav_link" id="my">
		<%= link_to "My Graphs", user_path(current_user) %>
	</li>
	
	<li>
		<div class="divider" style="background: #f36d74;"></div>
	</li>
<% end %>

<% if navbar.include? (:graphs) %>
	<li class="nav_link" id="all">
		<%= link_to "All Graphs", graphs_path %>
	</li>
	
	<li>
		<div class="divider" style="background: #fd724c;"></div>
	</li>
<% end %>

<% if navbar.include? (:newGraph) %>
	<li class="nav_link" id="new">
		<%= link_to "New Graph", graphs_new_path, method: :get %>
	</li>

	<li>
		<div class="divider" style="background: #ffe578;"></div>
	</li>
<% end %>


<div style="float: right; margin: -57px; margin-right: 0; color: white;">
	<% if navbar.include? (:welcome) %>
		<li class="nav_link" id="profile">
			<span>Welcome <%= current_user.username %></span><li style='margin: 0 3px;'>|</li>
		</li>
		<li id='logout' style='padding-right: 10px;'><%= link_to "Log Out", sessions_path, method: :delete %>
		</li>
	<% end %>

	<% if navbar.include? (:sign_up) %>
		<li class="nav_link">
			<%= link_to "Sign Up", new_user_path %>
		</li>
			
		<li>
			<div class="divider" style="background: #fec538;"></div>
		</li>
	<% end %>

	<% if navbar.include? (:log_in) %>
		<li class="nav_link">
			<%= link_to "Log In", login_path %>
		</li>
	<% end %>
</div>