<script>
	$('#new').css({'border-radius':'5px', 'border':'2.5px solid #fd724c', 'padding':'5px', 'color':'white'}); 
		</script>

<div class='container' id='graphs-new' <% if session[:current_user_id] %>data-userid='<%= current_user.id %>'<% end %>>

	<div id='graph-buttons-container'>
		<% if session[:current_user_id] %>
			<div id="actions">
				<a class='button' id="saveGraph">Save</a>
				<a class='button' id="downloadLnk" download="MyGraph.jpg">Download Graph</a>
				<a class='button' id="deleteGraph" >Delete</a>
			</div>
		<% else %>
			<div id="actions">
				<a class='button' id="downloadLnk" download="MyGraph.jpg">Download Graph</a>
			</div>
		<% end %>
		<div style='display: inline-block;'>
			<h3 id='swatch-head'>Swatches</h3>
			<div id="color-palette">
				<% @colors.each do |color| %>
					<div class="swatch" id="<%= color.hexadecimal %>" onClick="setCurrentColor('<%= color.hexadecimal %>')" style="background-color: <%= color.hexadecimal %> " >
					</div>
				<% end %>
			</div>
		</div>

		<div id='graph-container'>
			<h3 id='graph-title'></h3>
			<canvas id="graph" width="800" height="800"></canvas>
			<!-- <canvas id="graph" width="1400" height="740"></canvas> -->
		</div>
	</div>
	<div id="graphInfo-container"></div>
	<div id="preview"></div>
</div>

<% if !params[:id].nil? %>
	<script>
	  console.log("Hello, loading " + <%= params[:id] %>);
	  //loadGraph(<%= params[:id] %>);

	  graphModel = new Graph;
	  graphModel.id = <%= @graph.id %>;
	  graphModel.name = '<%= @graph.name %>';
	  graphModel.category = '<%= @graph.category %>';
	  graphModel.layout = '<%= @graph.layout %>';
	  graphModel.privacy = <%= @graph.privacy %>;
	  graphModel.drawGraphTemplate();
	  graphModel.redraw();
	</script>
<% else %>
  <script>console.log("PARAMS ID IS NUL");</script>
<% end %>

