<div class='container' id='show-graph' data-graphid='<%= @graph.id %>'>
	<div id='graph-buttons-container'>
<!-- 		<div id="actions">
			<a class='button' id="downloadLnk" download="MyGraph.jpg">Download Graph</a>
		</div> -->
		
		<div id='graph-container'>
			<h3 id='graph-title'></h3>
			<canvas id="graph" width="800" height="800"></canvas>
		</div>
	</div>
</div>

<% if !params[:id].nil? %>
	<script>
	  console.log("Hello, loading " + <%= params[:id] %>);
	  //loadGraph(<%= params[:id] %>);

	  graphModel = new Graph;
	  graphModel.id = <%= @graph.id %>;
	  graphModel.name = '<%= @graph.name %>';
	  graphModel.category = '<%= @graph.category %>';
	  graphModel.layout = '<%= @graph.layout %>';
	  graphModel.privacy = <%= @graph.privacy %>;
	  graphModel.drawGraphTemplate();
	  graphModel.redraw();
	</script>
<% else %>
  <script>console.log("PARAMS ID IS NUL");</script>
<% end %>