<!DOCTYPE html>
<html>
<head>
  <title>GraphKnitApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- 	<div id='cssmenu'>
		<ul>
		   <li class='active'><a href='#'><span>GraphKnit</span></a></li>
		   <li><a href='#'><span>Profile</span></a></li>
		   <li><a href='#'><span>Graphs</span></a></li>
		   <li class='last'><a href='#'><span>Contact</span></a></li>
		</ul>
	</div>
 -->
	<ul id="navbar">
		<li><img src='http://i.imgur.com/CPwgYN1.gif' style='height: 45px; padding: 18px'></li>
		<% if session[:current_user_id] %>
			<%= render partial: 'navbar/navbar', locals: { navbar: [:profile, :home, :graphs, :newGraph] } %>
		<% else %>
			<%= render partial: 'navbar/navbar', locals: { navbar: [:log_in, :sign_up] } %>
		<% end %>
	</ul>

	<%= yield %>
</body>
</html>
