<!DOCTYPE html>
<html>
<head>
  <title>GraphKnitApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="navbar">
	<ul>
		<li>
			<%= link_to graphs_new_path, method: :get do %>
				<img id='logo' src='http://i.imgur.com/CPwgYN1.gif' style='height: 45px; margin-top: 18px;'>
			<% end %>
		</li>
		
		<li id='link-block'>
		<% if session[:current_user_id] %>
			<%= render partial: 'navbar/navbar', locals: { navbar: [:welcome, :profile, :graphs, :newGraph] } %>
		<% else %>
			<%= render partial: 'navbar/navbar', locals: { navbar: [:log_in, :sign_up] } %>
		<% end %>
		</li>
	</ul>
</div>

	<%= yield %>
</body>
</html>
