<!DOCTYPE html>
<html>
<head>
  <title>GraphKnitApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='logo-container'>
	<%= link_to graphs_new_path, method: :get do %>
		<img src='http://i.imgur.com/KuFBt6b.png' style='height: 45px; margin-top: 18px;'>
	<% end %>
</div>

<ul id="navbar">
	<li id='link-block'>
		<% if session[:current_user_id] %>
			<%= render partial: 'navbar/navbar', locals: { navbar: [:welcome, :profile, :graphs, :newGraph] } %>
		<% else %>
			<%= render partial: 'navbar/navbar', locals: { navbar: [:log_in, :sign_up] } %>
		<% end %>
	</li>
</ul>

	<%= yield %>
</body>
</html>
